.discussion-section {
    margin-bottom: 20px;
    background-color: #6da4db;
  }
  
  textarea {
    margin: 40px;
    width:80%;
    /* height: 100px; */
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  .submit-btn {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .discussion-thread {
    margin-top: 20px;
  }
  
  .thread-item {
    margin-bottom: 10px;
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 8px;
  }
  