/* General Navbar Styling */
.navbar {
  background-color: #2c3e50;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: opacity 0.3s ease;
}

.logo {
  max-height: 48px;
}

.search-bar {
  width: 500px;
}

.navbar-nav {
  margin: 0 auto;
}

.nav-item {
  margin: 0 20px;
}

.nav-link {
  color: #ecf0f1;
  font-weight: normal;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #bdc3c7;
}

.nav-link.active {
  color: #ffffff;
  font-weight: bold;
}

/* Notification Icon */
.notification-icon {
  cursor: pointer;
}

.notification-icon i {
  font-size: 1.5rem;
  color: white;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.notification-icon .new-notifications {
  color: yellow;
}

.notification-icon:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

/* Notification Dropdown */
.notifications-dropdown {
  position: absolute;
  top: 100%;
  right: 50px;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

/* Profile Picture */
.profile-picture {
  cursor: pointer;
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.profile-popup {
  position: absolute;
  right: 0;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 100;
  transform: scale(1.1);
}

.popup-profile-pic {
  width: 100px;
  border-radius: 50%;
}

.profile-popup img {
  transition: transform 0.3s ease;
}

.profile-popup:hover img {
  transform: scale(1.1);
}

/* Responsive Design */
@media (max-width: 767px) {
  .navbar-nav {
    text-align: center;
  }

  .nav-item {
    margin: 10px 0;
  }

  .search-bar {
    width: 100%;
  }

  .navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"%3E%3Cpath stroke="%23fff" stroke-width="2" d="M5 7h20M5 15h20M5 23h20" /%3E%3C/svg%3E');
  }

  .collapse.navbar-collapse {
    background-color: #2c3e50;
    padding: 15px 0;
  }

  .nav-link {
    font-size: 1.2rem;
    padding: 10px 0;
  }
}
