.student-card-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
  padding: 30px;
  background-color: var(--bg-color);
  border-radius: 10px;
  box-shadow: 0 8px 16px var(--shadow-light);
  margin-bottom: 50px;
}

.student-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 8px 16px var(--shadow-light);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  font-size: 1.2rem;
}

.student-card:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 24px var(--shadow-dark);
}

.student-profile-pic {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 20px;
}

.student-details {
  display: flex;
  align-items: center;
}

.student-name {
  font-weight: bold;
  color: var(--font-color);
  font-size: 1.4rem;
  margin-right: 20px;
}

.student-score {
  color: var(--accent-color);
  font-size: 1.5rem;
  font-weight: 600;
}

.learn-more-button {
  padding: 15px 30px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  grid-column: 1 / -1;
  justify-self: center;
  font-size: 1.2rem;
}

.learn-more-button:hover {
  background-color: #1e1f8f;
}

.student-indicator {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-left: 10px;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

@media (max-width: 768px) {
  .student-card-list {
    grid-template-columns: 1fr;
    gap: 20px;
    margin-top: 30px;
  }

  .student-card {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 50px;
  }

  .student-name {
    margin-bottom: 10px;
    font-size: 1.3rem;
  }

  .student-score {
    font-size: 1.3rem;
  }

  .student-profile-pic {
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  .student-card {
    padding: 20px;
    margin-top: 50px;
  }

  .student-name {
    font-size: 1.2rem;
  }

  .student-score {
    font-size: 1.2rem;
  }
}
