
.recent-course {
    margin-top: 80px;
    width: 100%;
    margin-bottom: 20px;
    background-color: #30ceb6;
    padding: 20px;
    border-radius: 10px;
  }
  
  .course-details {
    background-color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 10px;
  }
  
  .progress-bar {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 20px;
    margin: 10px 0;
  }
  
  .progress {
    height: 10px;
    background-color: #4caf50;
    border-radius: 20px;
  }
  