.course-progress {
    background-color: #ffffff;
    padding: 20px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.course-progress canvas {
    margin: 0 auto;
}

.course-progress h4 {
    margin-top: 5px;
    font-size: 20px;
    font-weight: bold;
    color: #34495e;
}
