.learning-time {
    background: linear-gradient(45deg, #ff7e5f, #feb47b);
    padding: 20px;
    height: 150px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: white;
}

.learning-time h3 {
    font-size: 1.2rem;
}

.learning-time p {
    font-size: 2rem;
    font-weight: bold;
}
